:root {
  --title-color: #292f36;

  --text-color: #4d5053;

  --number-color: #cda274;

  --background-color: #f4f0ec;

  --background-color-2: #e7e7e7;

  --background-color-3: #e5e5e5;
}
address {
  font-style: normal;
}
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Jost";
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.header {
  display: flex;
  height: 106px;
  padding: 26px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background-image: url(images/logo.png);
  color: var(--title-color);
  width: 177px;
  height: 50px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-items-1 {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.nav-items-2 {
  color: var(--title-color);
  font-size: 19px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0.4px;
}
.nav-items-3 {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.nav-items-4 {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}
.nav-items-5 {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.nav-items-1:hover {
  color: var(--number-color);
}
.nav-items-2:hover {
  color: var(--number-color);
}
.nav-items-3:hover {
  color: var(--number-color);
}
.nav-items-4:hover {
  color: var(--number-color);
}
.nav-items-5:hover {
  color: var(--number-color);
}
.hero {
  display: flex;
  border-radius: 0px 0px 0px 290px;
  height: 831px;
  background-image: url(images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.hero-title {
  color: var(--title-color);
  width: 595px;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.22px;
  row-gap: 19px;
  padding-bottom: 19px;
}
.hero-text {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.hero-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  width: 166px;
  height: 71px;
  display: block;
  padding: 22px 34px 22px 34px;
  background-color: var(--title-color);
  border-radius: 18px;
  border: 2px solid #292f36;
  margin-top: 35px;
}

.links-list {
  display: flex;
  height: 395px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}
.links-list-second {
  width: 400px;
  height: 395px;
  padding-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
}
.links-title {
  padding-bottom: 17px;
  color: var(--title-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
}
.links-text-1 {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.links-text-2 {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.links-text-3 {
  position: relative;
  padding-bottom: 35px;
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.links-link-1 {
  position: relative;
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.36px;
}
.links-link-2 {
  position: relative;
  padding-top: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.36px;
}
.links-link-3 {
  position: relative;
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.36px;
}
.links-link-1::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(images/arrow.png);
  background-size: cover;
}
.links-link-2::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(images/arrow.png);
  background-size: cover;
}
.links-link-3::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(images/arrow.png);
  background-size: cover;
}

.contacts {
  height: 581px;
  margin-bottom: 167px;
}
.contacts-div {
  max-height: 634.609px;
}
.contacts-title {
  margin-top: 140px;
  width: 450px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}

.contacts-paragraph {
  padding-top: 42px;
}

.contacts-span-1 {
  display: block;
  width: 531px;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.contacts-span-2 {
  padding-bottom: 40px;
  display: block;
  width: 450px;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.contacts-box {
  padding-right: 808px;
  content: "";
  height: 93px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tel {
  width: 93px;
  height: 93px;
}
.tel-img {
  background-image: url(images/tel.png);
  background-repeat: no-repeat;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tel-item-1 {
  padding-left: 20px;
  width: 138px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.tel-item-2 {
  padding-left: 20px;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.tel-container {
  display: flex;
  flex-direction: column;
}
.contacts-link {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  width: 218px;
  height: 73px;
  display: block;
  padding: 22px 34px 22px 34px;
  background-color: var(--title-color);
  border-radius: 18px;
  border: 2px solid #292f36;
  margin-top: 35px;
}
.contacts-png {
  float: right;
}
.thoughts {
  width: 1200px;
  height: 675px;
  border-radius: 70px;
  background: var(--background-color);
}
.thoughts-title {
  padding-bottom: 47px;
  padding-top: 103px;
  color: var(--title-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}

.thoughts-list {
  padding-left: 42px;
  column-gap: 18px;
  display: flex;
}

.thoughts-sublist {
  width: 354px;
  height: 287px;
  border-radius: 30px;
  background: #fff;
}
.thoughts-div {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.thoughts-div-2 {
  display: flex;
  flex-direction: column;
}

.thoughts-img {
  padding-left: 35px;
  padding-top: 50px;
}

.thoug-list-title {
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  padding-top: 55px;
  padding-left: 20px;
}

.thoug-list-text-1 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  padding-left: 20px;
}

.thoug-list-text-2 {
  padding-right: 75px;
  padding-top: 25px;
  padding-left: 35px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.thoug-list-text-3 {
  padding-right: 63px;
  padding-top: 25px;
  padding-left: 35px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.thoug-list-text-4 {
  padding-right: 45px;
  padding-top: 25px;
  padding-left: 35px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.brands-list {
  align-items: center;
  margin-top: 140px;
  height: 103px;
  display: flex;
}
.brands-img-1 {
  padding-left: 48px;
  padding-right: 145px;
}
.brands-img-2 {
  padding-right: 110px;
}
.brands-img-3 {
  padding-right: 89px;
}
.brands-img-4 {
  padding-right: 112px;
}
.brands-img-5 {
  padding-right: 55px;
}

.project {
  margin-top: 100px;
}

.project-title {
  padding-top: 15px;
  padding-bottom: 20px;
  color: var(--title-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 47px;
  font-weight: 400;
  line-height: 1.327;
  letter-spacing: 0.22px;
}
.project-text {
  padding-bottom: 70px;
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.project-list {
  column-gap: 20px;
  height: 1632.406px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.project-sublist {
  display: flex;
  width: 590px;
  padding-top: 0.391px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.project-list-title {
  padding-top: 24px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
}

.project-list-text {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.project-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.project-div-3 {
  width: 70px;
  height: 70px;
}
.project-list-title-2 {
  padding-top: 24px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
}
.project-img {
  padding-top: 60px;
}

.success {
  height: 475px;
  background-color: var(--background-color);
}
.success-list {
  padding-top: 140px;
  column-gap: 16px;
  display: flex;
  width: 288px;
  height: 195px;
  flex-wrap: wrap;
  flex-direction: column;
}
.success-sublist {
  display: grid;
  place-content: center;
  width: 288px;
  height: 195px;
  border-right: solid 1px;
  color: var(--number-color);
}

.success-sublist:last-child {
  border: none;
}

.success-title {
  color: var(--number-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 85px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.7px;
}
.success-text {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.blog {
  width: 1220px;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.blog-title {
  padding-top: 142px;
  color: var(--title-color);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}
.blog-text {
  padding-top: 21px;
  padding-bottom: 91px;
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.blog-list {
  height: 1110.781px;
  display: flex;
  flex-wrap: wrap;
}

.blog-sublist {
  margin-right: 17px;
  margin-bottom: 40px;
  width: 387px;
  height: 515px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
}

.blog-sublist-1 {
  width: 387px;
  height: 515px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
}
.blog-sublist-2 {
  width: 387px;
  height: 515px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
}
.blog-sublist-subtitle-1 {
  width: 125px;
  height: 44px;
  position: absolute;
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  background-color: #fff;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
}
.blog-sublist-subtitle-2 {
  width: 104px;
  height: 44px;
  position: absolute;
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  background-color: #fff;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
}
.blog-sublist-subtitle-3 {
  position: absolute;
  width: 139px;
  height: 44px;
  color: var(--text-color);
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
  background: #fff;
}
.blog-sublist-subtitle-4 {
  position: absolute;
  width: 125px;
  height: 44px;
  color: var(--text-color);
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
  background: #fff;
}
.blog-sublist-subtitle-5 {
  position: absolute;
  width: 104px;
  height: 44px;
  color: var(--text-color);
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
  background: #fff;
}
.blog-sublist-subtitle-6 {
  position: absolute;
  width: 139px;
  height: 44px;
  color: var(--text-color);
  padding-left: 10px;
  padding-top: 9px;
  bottom: 29px;
  left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  border-radius: 8px 8px 8px 0;
  background: #fff;
}
.blog-div-1 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-1.png);
  background-size: cover;
  background-position: center;
}
.blog-div-2 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-2.png);
  background-size: cover;
  background-position: center;
}
.blog-div-3 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-3.png);
  background-size: cover;
  background-position: center;
}
.blog-div-4 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-4.png);
  background-size: cover;
  background-position: center;
}
.blog-div-5 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-5.png);
  background-size: cover;
  background-position: center;
}
.blog-div-6 {
  width: 345px;
  height: 296px;
  position: relative;
  margin: 20px 20px 15px 20px;
  background-image: url(images/background-6.png);
  background-size: cover;
  background-position: center;
}
.blog-list-title-1 {
  width: 354px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.blog-list-title-2 {
  width: 357px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.blog-list-title-3 {
  width: 355px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.blog-list-title-4 {
  width: 321px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.blog-list-title-5 {
  width: 309px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
.blog-list-title-6 {
  width: 312px;
  padding-left: 21px;
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.blog-list-text {
  padding-left: 21px;
  padding-top: 34px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.blog-list-div-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-list-div-3 {
  padding-top: 20px;
  padding-right: 21px;
}

.contact {
  margin-top: 141px;
  height: 414px;
  border-radius: 70px;
  background: var(--title-color);
}

.contact-title {
  padding-top: 100px;
  color: #fff;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.contact-text {
  padding-top: 9px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  width: 241px;
  height: 71px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  background-color: var(--number-color);
  border-radius: 18px;
}
.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  column-gap: 16px;
  margin-top: 79px;
  display: flex;
  padding-top: 50px;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-logo {
  width: 393.359px;
}
.logo-text {
  margin-top: 15px;
  width: 326px;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.socials {
  margin-top: 29px;
  width: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links {
  width: 210.719px;
  row-gap: 30px;
  display: flex;
  flex-direction: column;
}
.footer-links-title {
  color: var(--title-color);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.footer-links-link {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.links > address {
  width: 337.156px;
}
.footer {
  column-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
}
.footer-text {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.footer-link {
  color: var(--number-color);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.border {
  margin-top: 111px;
  height: 1px;
  background: var(--background-color-3);
}
